langchain-groq
langchain
python-dotenv
langchain_community
langchain-core
streamlit
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
validators==0.28.1
## youtube_transcript_url_api
numexpr
huggingface_hub
